In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_fwf('Sazia Garo.txt', header = None)

In [3]:
gollaPunc = ["'", '"', '`', '‘', '’', '*', '^', '®']

def kamlaCleaner(sentence):
    try:
        sentence = sentence.replace(',',' ')
        sentence = sentence.replace('.', ' ')
        sentence = sentence.replace('?', ' ')
        sentence = sentence.replace('!', ' ')
        
        sen_temp = []
        for word in sentence.split(' '):
            if word:
                if word[0] in gollaPunc:
                    word = word[1:]
                if word[-1] in gollaPunc:
                    word = word[:-1]
                for char in word:
                    if char in gollaPunc:
                        word = word.replace(char,"'")
                        
            word = word.replace("''", "'")
            sen_temp.append(word)
        sentence = " ".join(sen_temp)    
        
        return sentence
    except:
        return sentence

In [4]:
#kamlaCleaner(sentence)

In [5]:
data['clean'] = data[0].map(kamlaCleaner)

In [6]:
data

,0,clean
0,A‘CHIK GOLPORANG BAK II 43[a],A'CHIK GOLPORANG BAK II 43[a]
1,skanggitan pilak bosturangko jakbitange achak ...,skanggitan pilak bosturangko jakbitange achak ...
2,nikeaha. [Indiba mai cholchi segipako a’aona r...,nikeaha [Indiba mai cholchi segipako a'aona r...
3,man‘gen ukon uwyaha. Indaken Singwil salsni wa...,man'gen ukon uwyaha Indaken Singwil salsni wa...
4,ringgija grapmanggasie sinti do’pilgime dongai...,ringgija grapmanggasie sinti do'pilgime dongai...
...,...,...
2194,matchadu bi’sani ganding chinding ba’rarangko ...,matchadu bi'sani ganding chinding ba'rarangko ...
2195,\* . :,\ :
2196,a \\,a \\
2197,[a]@saziamorshed@gmail.com etar main file ta d...,[a]@saziamorshed@gmail com etar main file ta d...
2198,_Assigned to sazia morshed_,_Assigned to sazia morshed_

In [7]:
#sentence = data['clean'].values[2]

In [8]:
motherArr = []
for each in data['clean'].values:
    punctuations = ['?', "!", ".", "+", "-", "_", "[", "]", "(", ")", "}", "{" ,"/", "|"]
    sen_temp = []
    for word in each.split(' '):
        for punc in punctuations:
            word = word.replace(punc,'')
        sen_temp.append(word.lower())

    motherArr = motherArr + sen_temp

In [9]:
df = pd.DataFrame({'word':motherArr})

count = df['word'].value_counts()
FreqDF = pd.DataFrame(count)
#df['freq_count'] = df.groupby('word')['word'].transform('count')

In [11]:
FreqDF.to_excel('SaziaGaroDistribution.xlsx')